:root {
  --font-plain: -apple-system, BlinkMacSystemFont, segoe ui, helvetica neue,
    helvetica, roboto, arial, sans-serif;
  --letter-spacing-0: -0.015em;
  --line-height-0: 1.1;
}

:root {
  --priamry: black;
  --secondary: white;
}

body {
  --stack-gap: 0;
  --stack-vertical-alignment: stretch;
  --stack-horizontal-alignment: stretch;
  padding: var(--space-s-m);
  font-family: var(--font-plain);
  font-size: var(--step-0);
}

@supports (height: 100dvh) {
  body {
    min-height: 100dvh;
  }
}

main {
  flex-grow: 1;
  position: relative;
}

h1 {
  position: absolute;
  inset-block-end: 0;
  z-index: 1;

  max-inline-size: 13ch;
  padding: var(--space-xs-s);

  color: var(--secondary);
  font-size: var(--step-3);
  font-weight: 400;
  line-height: var(--line-height-0);
  letter-spacing: var(--letter-spacing-0);
}

#pano {
  flex-grow: 1;
}

#pano canvas {
  border-radius: 1rem;
}

#pano:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 33%;
  inset-block-end: 0;
  /* background: linear-gradient(
    0deg,
    hsl(9deg 86% 7% / 34%),
    hsl(9deg 86% 7% / 31%) 11.36%,
    hsl(9deg 86% 7% / 28%) 21.57%,
    hsl(9deg 86% 7% / 25%) 30.81%,
    hsl(9deg 86% 7% / 22%) 39.26%,
    hsl(9deg 86% 7% / 19%) 47.09%,
    hsl(9deg 86% 7% / 16%) 54.5%,
    hsl(9deg 86% 7% / 13%) 61.66%,
    hsl(9deg 86% 7% / 10%) 68.74%,
    hsl(9deg 86% 7% / 7%) 75.94%,
    hsl(9deg 86% 7% / 4%) 83.43%,
    hsl(9deg 86% 7% / 1%) 91.39%,
    hsl(9deg 86% 7% / 0%)
  ); */
  background: linear-gradient(
    0deg,
    hsl(9deg 86% 7% / 89%),
    hsl(9deg 86% 7% / 76%) 11.36%,
    hsl(9deg 86% 7% / 64%) 21.57%,
    hsl(9deg 86% 7% / 53%) 30.81%,
    hsl(9deg 86% 7% / 43%) 39.26%,
    hsl(9deg 86% 7% / 34%) 47.09%,
    hsl(9deg 86% 7% / 26%) 54.5%,
    hsl(9deg 86% 7% / 19%) 61.66%,
    hsl(9deg 86% 7% / 13%) 68.74%,
    hsl(9deg 86% 7% / 8%) 75.94%,
    hsl(9deg 86% 7% / 4%) 83.43%,
    hsl(9deg 86% 7% / 1%) 91.39%,
    hsl(9deg 86% 7% / 0%)
  );
  border-radius: 1rem;
  pointer-events: none;
}

.credit {
  align-self: flex-end;
  z-index: 1;
  padding: var(--space-xs-s);

  color: var(--secondary);
  font-size: var(--step--1);
}

.credit a {
  color: inherit;
}
