{% set imgUrl = "/images/" + image.link %}

{%- extends "layouts/base.html" -%}

{%- block preload -%}
  <link rel="preload" href="/scripts/index.js" as="script" fetchpriority="high">
{%- endblock -%}

{%- block content -%}
  <div 
    id="pano" 
    data-image={{ image.link }}
    data-yaw={{ image.yaw }}
    data-pitch={{ image.pitch }}
    data-fov={{ image.fov }}
  >
    <noscript>
      <img src={{ imgUrl }} alt="{{ image.alt }}">
    </noscript>
  </div>
  <div class="image-info cluster">
    {{ content | safe }}
  </div>
{%- endblock -%}

{%- block bodyScripts -%}
  <script src="/scripts/index.js"></script>
{%- endblock -%}